<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>This is a simple Django application deployed with Nginx and Gunicorn.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ratione quis veniam amet hic praesentium? Iste illo dignissimos laudantium neque ut quasi ducimus suscipit blanditiis, nisi perspiciatis, natus quod? Laboriosam!</p>
</body>
</html>